@charset "utf-8";

body {
	padding-top:70px; /*lowers content on page below navbar*/
    clear: both; /*makes contain not have floating on left or right*/
}

#heart {
	float: left;
	color: red;
	padding: 15px 5px;
	font-size: 5em;
}

/*want to put area over navigation bar*/
.containHead {
    padding: 30px, 400px;
    border-color: black;
}

#wrapper {
    margin-top: 50px;
}

/*navbar-default: displays bar, 
navbar-fixed-top: fix bar to top (static stays at top, fixed stays in view); 
navbar-inverse: reverse color (white to black)*/
/*menu tabs sections*/
#navMenu {
	margin: 0;
	padding: 0;
	line-height: 45px;
}

#navMenu ul {
	margin: 0;
	padding: 0;	
}
/*styles the menu tabs titles*/
#navMenu li {
	margin-top: 60px;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
/*sets the spacing between words in ul*/
#navMenu li ul li {
	margin-top: 0;
	padding: auto;	
}

#navMenu ul li a {
	text-align: center;
	font-family: "Comic Sans MS", cursive;
	text-decoration: none;
	height: 30px;
	width: 150px;
	display: block;
	color: #000; /*color of letters in menu*/
}

#navMenu ul ul {
	position: absolute; /*drops list below parent*/
	visibility: hidden; /*hids list*/
	top: 40px; /*spacing under parent*/
}

/*makes list appear when hovering over parent*/
#navMenu ul li:hover ul {
    visibility: visible;
}

/*section styling collapse of navbar*/

.breadcrumb > li + li:before {
  	content: none;
}

.navbar-inverse .navbar-toggle {
	color: white; /*standard color of lettering on button*/
	font-weight: bold;
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #ddd; /*background to pancake button*/
	color: #333; /*color of letters in pancake button when hovering*/
}

.navbar-inverse .navbar-toggle .glyphicon {
	color: white; /*collor of glyphicon symbol*/
}

.navbar-inverse .navbar-toggle:hover .glyphicon {
	color: #333;
}

.navbar-header {
	font-size: 5em;
	color: green;
}

/*footer*/
.siteinfo {
	position: auto;
	padding-top: auto;

}

